.inbox-header {
  padding-top: 100px;
}

.inbox-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  width: 28px;
  height: 28px;
  display: flex;
}

.direct-inbox {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.direct-inbox .profile-photo-frame {
  margin: 0;
  height: 56px;
  width: 56px;
}

.direct-inbox-messages {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 8px;
  padding: 0;
}

.direct-message-card {
  display: flex;
  padding: 8px 16px;
  gap: 16px;
  align-items: center;
}

.direct-message-full-name {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

/* .animation-wrapper {
  animation: spinLoop 2s linear;
  animation-iteration-count: infinite;
}

@keyframes spinLoop {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
} */

.direct-message-text {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

.direct-message-activity {
  color: rgba(142, 142, 142, 1);
}
